<launch>
    <node pkg="simulator"
        type="simulator_node.py"
        name="Simulator_node"
        output="screen">
    </node>
    <node pkg="gain_server"
        type="server.py"
        name="gain_server">
    </node>
    <node pkg="observer"
        type="observer_node.py"
        name="Observer_node"
        output="screen">
    </node>
</launch>